<template>
  <span>{{message}}</span>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {EventsOn} from "../../wailsjs/runtime";
import {GetMessage} from "../../wailsjs/go/main/App";

const message = ref("");
EventsOn("onMessage", function(msg: string) {
  message.value = msg;
});
GetMessage().then(v => message.value = v);
</script>
