<template>
  <form @submit.prevent="setUrl">
    Set OTP:
    <input v-model="url" />
  </form>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {UpdateOTP} from "../../wailsjs/go/main/App";

const url = ref("");

const $emit = defineEmits<{
  (e: 'set'): void,
}>();

function setUrl() {
  UpdateOTP(url.value).then(() => $emit('set'));
}
</script>

<style scoped>

</style>
