<template>
  <h1>Select XIVLauncher</h1>
  <button @click.stop="setPath">Pick</button>
</template>

<script setup lang="ts">
import {PickLauncherPath} from "../../wailsjs/go/main/App";

const $emit = defineEmits<{
  (e: 'set'): void,
}>();

function setPath() {
  PickLauncherPath().then(() => $emit('set'));
}
</script>

<style scoped>

</style>
