<template>
  <div style="display: flex; flex-direction: column; height: 100vh; width: 100vw">
    <div style="flex: 1 1 auto">
      <Otp v-model:ready="otpReady" v-if="!otpReady" />
      <Xiv v-model:ready="xivReady" v-else-if="!xivReady" />
      <SquareSpinner v-else />
    </div>
    <MessageBar style="flex: none; margin: 0.25rem 0.5rem; text-align: left" />
  </div>
</template>

<script lang="ts" setup>
import {computed, ref, watch} from "vue";
import MessageBar from "./components/MessageBar.vue";
import Otp from "./Otp.vue";
import {StartOTPRequests, StartXIVLauncher, StopOTPRequests} from "../wailsjs/go/main/App";
import Xiv from "./Xiv.vue";
import SquareSpinner from "./components/SquareSpinner.vue";

const otpReady = ref(false);
const xivReady = ref(false);

const ready = ref(false);

watch(otpReady, () => {
  xivReady.value = false;
  ready.value = false;
});

watch(xivReady, xivReady => {
  ready.value = xivReady && otpReady.value;
});

watch(ready, ready => {
  if (ready) {
    StartXIVLauncher();
    StartOTPRequests();
  } else {
    StopOTPRequests();
  }
});
</script>

<style>
#logo {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10% 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
}
</style>
