<template>
  <SquareSpinner v-if="!otpLoaded" />
  <OtpUrl v-else-if="!ready" @set="checkOtp" />
</template>

<script setup lang="ts">

import {computed, onMounted, ref, watch} from "vue";
import {IsOtpConfigured} from "../wailsjs/go/main/App";
import SquareSpinner from "./components/SquareSpinner.vue";
import OtpUrl from "./components/OtpUrl.vue";

const props = defineProps<{ready: boolean}>();
const $emit = defineEmits<{(e: 'update:ready', ready: boolean): void}>();

const ready = computed({
  get() {
    return props.ready;
  },
  set(newVal: boolean) {
    $emit('update:ready', newVal);
  }
});

const otpLoaded = ref(false);

const loading = ref(false);
watch(ready, ready => {
  if (!ready) {
    loading.value = false;
  }
});

onMounted(checkOtp);

function checkOtp() {
  otpLoaded.value = false;
  IsOtpConfigured().then(isConfigured => {
    ready.value = isConfigured;
    otpLoaded.value = true;
  });
}
</script>
