<template>
  <SquareSpinner v-if="!xivLoaded" />
  <XivPath v-else-if="!ready" @set="checkXiv" />
</template>

<script setup lang="ts">
import {computed, onMounted, ref, watch} from "vue";
import {IsXIVLauncherFound} from "../wailsjs/go/main/App";
import SquareSpinner from "./components/SquareSpinner.vue";
import XivPath from "./components/XivPath.vue";

const props = defineProps<{ready: boolean}>();
const $emit = defineEmits<{(e: 'update:ready', ready: boolean): void}>();

const ready = computed({
  get() {
    return props.ready;
  },
  set(newVal: boolean) {
    $emit('update:ready', newVal);
  }
});

const xivLoaded = ref(false);

const loading = ref(false);
watch(ready, ready => {
  if (!ready) {
    loading.value = false;
  }
});

onMounted(checkXiv);

function checkXiv() {
  xivLoaded.value = false;
  IsXIVLauncherFound().then(isFound => {
    ready.value = isFound;
    xivLoaded.value = true;
  });
}
</script>
